<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.denbar.XMPP_Robot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application  android:name="com.denbar.XMPP_Robot.XMPPDemosApplication"
            android:label="XMPP_Robot">
        <activity android:name="com.denbar.XMPP_Robot.XMPPClient" android:label="XMPPClient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
